@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Sanchez&family=Spartan:wght@900&display=swap');

.master{
	width: 100%;
	height:100vh;
	background-color:rgb(250, 240, 229);
}

.logo{
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 30rem;
}

.mainbody {
	padding: 1rem 1rem 1rem 1rem;
}

.title{
	font-family: 'Spartan', sans-serif;
}

.button{
	font-family: 'Nunito', sans-serif;
	padding-top: 2px;
	padding-botton: 2px;
	border-radius: 0;
	border-left: 1.5px black;
	border-right: 0.55px black;
	position: relative
}

.button::before,
.button::after {
  content:"";
  background-color: black;
  top: -4px;
  bottom:-4px;
  left: 2px;
  position: absolute;
  width: 1.5px;
}

.button::after {
  left: auto;
  right: 2px;
}

.button:hover {
	background:rgb(232, 190, 144);
}